@import "../../style/variables";
@import "../../style/mixins";

.header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 30px;
  z-index: 1000;
  position: relative;

  @include for-mobile {
    flex-wrap: wrap;
  }
}

.wrapper {
  display: flex;
  align-items: center;
}

.change_theme,
.logo {
  margin-right: 20px;
}

.logo {
  svg {
    width: 65px;
    height: 65px;
  }
}

.title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
  color: $primary-color;

  @include for-mobile {
    display: none;
  }
}
